@import "tailwindcss";

.font-hind-siliguri {
  font-family: var(--font-hind-siliguri);
}
.font-hind-mysuru {
  font-family: var(--font-hind-mysuru);
}
.font-roboto {
  font-family: var(--font-roboto);
}


